@model Blog.Models.ArticleViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h4>@Model.Title</h4>
<div class="col-md-12">
    @foreach (var tag in Model.Tags)
    {
        <span class="badge bg-success text-light">@tag.Title</span>
    }
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <p class="text-start">@Model.Content</p>
    </div>
</div>
<hr />
<div class="card-text text-right">@Model.Author</div>
 
@{
    await Html.RenderPartialAsync("_AddComment", new CommentEditViewModel{ ArticleId = Model.Id , Id = 0});
}

@{
    await Html.RenderPartialAsync("../Comment/_ArticleCommentList", Model.Comments);
}